<div class="container col-xs-6">
  <wed-titled-card>
    <h2>{{title}}</h2>
    <wed-transaction-filter data-body
                            *ngIf="showFilter"
                            (monthChanged)="table.showMonth($event)"
                            (yearChanged)="table.showYear($event)">
    </wed-transaction-filter>
    <wed-transaction-table data-body
                           #table
                           [includeDate]="showFilter">
    </wed-transaction-table>
    <button data-body
            *ngIf="!showFilter"
            class="btn btn-primary"
            routerLink="/dashboard/transactions">Alle Transaktionen</button>
  </wed-titled-card>
</div>
